body {
	background-color: #222;
}

div.countdown {
	width: 500px;
	margin: 5% auto auto auto;
	background-color: #222;
}

button {
	background-color: #222;
	color: #DDD;
}

i {
	background-color: #222;
	color: #DDD;
}

div {
	margin: 5px;
	padding: 5px;
	color: #DDD;
}

div.timer {
	display: table-cell;
	width: 250px;
	height: 250px;
	padding: 0px;
	border: 1px solid #000;
	overflow: hidden;
	border-radius: 50%;
	vertical-align:middle;
	background-color: #CCC;
}

div.timer-bg-wrapper {
	position:relative;
	display: inline-block;
	width: 240px;
	height: 240px;
	margin: 0 auto;
	border: 1px solid #000;
	padding: 0px;
	border-radius: 50%;
	overflow: hidden;
	vertical-align:middle;
	background-color: #222;
}

div.timer-bg {
	padding: 0px;
	display: inline-block;
	position:absolute;
	left:0px;
	bottom:0px;
	margin: -1px;
	background-color: #7CFC00;
	width: 240px;
	height: 0px;
	border: 1px solid #000;
}

div.timer-elements {
	color: #EEE;
	vertical-align:middle;
	padding: 0px;
	position:absolute;
	margin: -1px;
	width: 240px;
	border:none;
	top: 20%;
	background-color: transparent;
}